.cached-post {
  
}

.uncached-post {
  
}

.post-title__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  background-color: #FAFAFB;
  align-items: center;
  color: #1B253C;
  text-decoration: none;
  margin: 10px;
}

a.post-title__container:hover, a.post-title__container:active {
  background-color: #1B253C;
  color: #FAFAFB;
  /* cursor: pointer; */
}

