.cached-post {
  font-weight: bold;
  background-color: lightblue;
  text-decoration: none;
  text-transform: capitalize;
}

.uncached-post {
  text-decoration: none;
  text-transform: capitalize;
}

.post-title-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #FAFAFB;
  margin-bottom: 17px;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  border-bottom: 0.4rem solid #f34e46;
}

a.post-title-card-container:hover, a.post-title-card-container:active {
  background-color: #1B253C;
  color: #FAFAFB;
  cursor: pointer;
}

