.post-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1px;
  background-color: #FAFAFB;
  margin: 10px 100px;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-bottom: 0.4rem solid #f34e46;
}

.post-title {
  flex-direction: column;
  color: #1C253D;
  font-family: sans-serif;
  text-transform: capitalize;
}

.post-content {
  color: #1C253D;
  font-family: sans-serif;
}

.page-back__container {
  margin: 18px;
}

.page-back__button {
  border: 2px solid #efca08;
  border-radius: 30px;
  color: #242c33;
  padding: 10px 30px;
  text-decoration: none;
}

a.page-back__button:link, a.page-back__button:visited {
  border: 2px solid #efca08;
  border-radius: 30px;
  color: #242c33;
  padding: 10px 30px;
  text-decoration: none;
}

a.page-back__button:hover, a.page-back__button:active {
  border: 2px solid #242c33;
  border-radius: 30px;
  background-color: #242c33;
  padding: 10px 30px;
  text-decoration: none;
  color: #efca08;
}