body {
  background-color: #FAFAFB;
}

/* .header-name {
  color: #F34E46;
  font-family: sans-serif;
  text-align: center;
} */

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  background-color: #FAFAFB;
  padding: 13px;
}

.dozuki-logo {
  width: 180px;
  margin-top: 22px;
}

.test {
  background: yellow;
  font-family: 'Public Sans', sans-serif;
}

.banner {
  height: 20px;
  display: flex;
  justify-content: center;
  background-color: #efca08;
  /* margin: -8px; */
  padding: 10px;
  color: #1b253c;
  margin-right: -13px;
  
}

.sticky-header {
  position: fixed;
  width: 100%;
  top: 0;
  margin-left: -8px;
}

.main {
  padding-top: 100px;
}