.card {
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  border-bottom: 0.4rem solid #f34e46;
  width: 150px;
  height: 250px;
  padding: 20px 30px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}